n8n-workflows/batch-processor.json
{
  "name": "B-Roll Batch Processor — Multiple Clips",
  "nodes": [
    {
      "id": "webhook-batch-1",
      "name": "Batch Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "broll-batch",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "broll-batch"
    },
    {
      "id": "code-split-1",
      "name": "Split into Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst clips = body.clips || [];\n\nif (!clips.length) throw new Error('No clips provided. Send { clips: [{ contentType, transcript, videoUrl?, speakerName?, company?, metrics? }] }');\n\nreturn clips.map((clip, i) => ({\n  json: {\n    clipIndex: i,\n    totalClips: clips.length,\n    body: {\n      contentType: clip.contentType || body.defaultContentType || 'technical-walkthrough',\n      transcript: clip.transcript,\n      videoUrl: clip.videoUrl || body.defaultVideoUrl || '',\n      speakerName: clip.speakerName || body.defaultSpeakerName || '',\n      company: clip.company || body.defaultCompany || '',\n      metrics: clip.metrics || []\n    }\n  }\n}));"
      }
    },
    {
      "id": "code-prompt-batch",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst contentType = body.contentType || 'technical-walkthrough';\n\nconst FLOWS = {\n  'technical-walkthrough': '5 scenes: Hook(big-stat-reveal) -> Speaker(person-scorecard) -> HowItWorks(workflow-pipeline) -> Results(data-table/kpi-dashboard) -> Arch+CTA(node-graph+cta-comment)',\n  'case-study': '6 scenes: HookStat(big-stat-reveal) -> ClientIntro(person-scorecard) -> Challenge(comparison-split) -> Solution(timeline-steps) -> Results(kpi-dashboard) -> Trust+CTA(logo-endorsement+cta-comment)',\n  'podcast': '4-6 scenes: GuestIntro(person-scorecard) -> KeyStat(big-stat-reveal) -> TopicViz(varies) -> CTA(cta-comment)'\n};\n\nconst systemPrompt = `You are a B-roll scene generator. Output JSON: { \"meta\": { \"contentType\": \"${contentType}\", \"title\": \"<title>\", \"fps\": 30, \"width\": 1080, \"height\": 1920, \"talkingHeadUrl\": \"${body.videoUrl || ''}\" }, \"scenes\": [{ \"type\": \"<type>\", \"from\": <frame>, \"durationInFrames\": <dur>, \"data\": {...} }], \"textStrip\": { \"labels\": [{ \"from\": <frame>, \"label\": \"<text>\" }] } }\\n\\nFlow: ${FLOWS[contentType] || FLOWS['technical-walkthrough']}\\n\\nTypes: big-stat-reveal({value,prefix?,suffix?,color,subtitle}), person-scorecard({name,title,badges[{value,label}]}), kpi-dashboard({header,cards[{label,value,color}]}), workflow-pipeline({header,rows[[{label,sub?,glow?}]]}), data-table({header,table:{columns,rows}}), node-graph({header,nodes[{label,x,y,color}],edges[{from,to}]}), timeline-steps({header,steps[{label,status}]}), comparison-split({left:{header,color,icon,items},right:{header,color,icon,items}}), logo-endorsement({header,logos[{name}]}), cta-comment({action,keyword})\\n\\nframe=sec*30. Colors: #00D4FF #00FF88 #FF4444 #FF8C00 #8B5CF6. Min 180 frames. ONLY JSON output.`;\n\nconst context = [body.speakerName ? `Speaker: ${body.speakerName}` : '', body.company ? `Company: ${body.company}` : ''].filter(Boolean).join('\\n');\nconst userMessage = `${context ? context + '\\n\\n' : ''}Transcript:\\n${body.transcript}`;\n\nreturn [{ json: { ...($input.first().json), systemPrompt, userMessage } }];"
      }
    },
    {
      "id": "http-claude-batch",
      "name": "Claude API — Generate Scenes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $vars.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 8000, system: $json.systemPrompt, messages: [{ role: 'user', content: $json.userMessage }] }) }}"
      }
    },
    {
      "id": "code-parse-batch",
      "name": "Parse Scene JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.content?.[0]?.text || '';\n\nlet config;\ntry {\n  config = JSON.parse(content);\n} catch (e) {\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  if (match) config = JSON.parse(match[0]);\n  else throw new Error('Failed to parse');\n}\n\nconst totalFrames = config.scenes.reduce((max, s) => Math.max(max, s.from + s.durationInFrames), 0);\n\nreturn [{ json: { clipIndex: response.clipIndex, config, totalFrames, totalSeconds: (totalFrames / 30).toFixed(1), sceneCount: config.scenes.length } }];"
      }
    },
    {
      "id": "aggregate-1",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1500, 300],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "results",
        "include": "allFieldsExcept",
        "fieldsToExclude": "systemPrompt,userMessage"
      }
    },
    {
      "id": "code-format-batch",
      "name": "Format Batch Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 300],
      "parameters": {
        "jsCode": "const items = $input.first().json.results || [];\n\nreturn [{\n  json: {\n    success: true,\n    totalClips: items.length,\n    clips: items.map(item => ({\n      clipIndex: item.clipIndex,\n      config: item.config,\n      totalSeconds: item.totalSeconds,\n      sceneCount: item.sceneCount\n    }))\n  }\n}];"
      }
    },
    {
      "id": "respond-batch-1",
      "name": "Return Batch Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Batch Webhook": {
      "main": [[{ "node": "Split into Items", "type": "main", "index": 0 }]]
    },
    "Split into Items": {
      "main": [[{ "node": "Build Claude Prompt", "type": "main", "index": 0 }]]
    },
    "Build Claude Prompt": {
      "main": [[{ "node": "Claude API — Generate Scenes", "type": "main", "index": 0 }]]
    },
    "Claude API — Generate Scenes": {
      "main": [[{ "node": "Parse Scene JSON", "type": "main", "index": 0 }]]
    },
    "Parse Scene JSON": {
      "main": [[{ "node": "Aggregate Results", "type": "main", "index": 0 }]]
    },
    "Aggregate Results": {
      "main": [[{ "node": "Format Batch Response", "type": "main", "index": 0 }]]
    },
    "Format Batch Response": {
      "main": [[{ "node": "Return Batch Results", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
