n8n-workflows/drive-watcher-v4-production.json
{
  "name": "B-Roll Drive Watcher v4 — Production (OpenRouter + Groq + Render)",
  "nodes": [
    {
      "id": "drive-trigger-1",
      "name": "Watch B-Roll Drop Folder",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [120, 400],
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] },
        "triggerOn": "specificFolder",
        "folderToWatch": { "__rl": true, "mode": "list", "value": "" },
        "event": "fileCreated",
        "options": { "includeSubfolders": true }
      }
    },
    {
      "id": "code-detect-type",
      "name": "Detect File Type + Content Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 400],
      "parameters": {
        "jsCode": "const file = $input.first().json;\nconst name = file.name || '';\nconst mime = file.mimeType || '';\nconst isVideo = mime.startsWith('video/') || /\\.(mp4|mov|webm|mkv)$/i.test(name);\nconst isText = /\\.(txt|md|srt)$/i.test(name);\nif (!isVideo && !isText) throw new Error('Unsupported: ' + name);\nconst parents = (file.parents || []).map(p => (p.name || '').toLowerCase());\nconst folderPath = parents.join('/').toLowerCase();\nlet contentType = 'technical-walkthrough';\nif (folderPath.includes('case-study') || folderPath.includes('casestudy')) contentType = 'case-study';\nelse if (folderPath.includes('podcast')) contentType = 'podcast';\nconst baseName = name.replace(/\\.[^.]+$/, '');\nconst parts = baseName.split('_').map(p => p.trim());\nlet speakerName = '', company = '', title = baseName;\nif (parts.length >= 3) { speakerName = parts[0].replace(/([a-z])([A-Z])/g, '$1 $2'); company = parts[1].replace(/([a-z])([A-Z])/g, '$1 $2'); title = parts.slice(2).join(' '); }\nelse if (parts.length === 2) { speakerName = parts[0].replace(/([a-z])([A-Z])/g, '$1 $2'); title = parts[1]; }\nreturn [{ json: { fileId: file.id, fileName: name, isVideo, isText, contentType, speakerName, company, title, mimeType: mime } }];"
      }
    },
    {
      "id": "switch-filetype",
      "name": "Video or Text?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [560, 400],
      "parameters": {
        "rules": {
          "rules": [
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.isVideo }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }] }, "renameOutput": true, "outputKey": "video" },
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.isText }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }] }, "renameOutput": true, "outputKey": "text" }
          ]
        }
      }
    },
    {
      "id": "drive-download-video",
      "name": "Download Video",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [780, 280],
      "parameters": { "operation": "download", "fileId": { "__rl": true, "mode": "id", "value": "={{ $json.fileId }}" }, "options": {} }
    },
    {
      "id": "groq-transcribe",
      "name": "Groq Whisper — Transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 280],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{ $vars.GROQ_API_KEY }}" }] },
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "parameterType": "formData", "value": "whisper-large-v3-turbo" },
            { "name": "response_format", "parameterType": "formData", "value": "verbose_json" },
            { "name": "timestamp_granularities[]", "parameterType": "formData", "value": "segment" },
            { "name": "file", "parameterType": "formBinaryData", "inputDataFieldName": "data" }
          ]
        },
        "options": { "timeout": 300000 }
      }
    },
    {
      "id": "code-format-whisper",
      "name": "Format Whisper Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1220, 280],
      "parameters": {
        "jsCode": "const w = $input.first().json;\nconst meta = $('Detect File Type + Content Type').first().json;\nlet transcript = '';\nif (w.segments?.length) { transcript = w.segments.map(s => { const m = Math.floor(s.start / 60), sec = Math.floor(s.start % 60); return `[${String(m).padStart(2,'0')}:${String(sec).padStart(2,'0')}] ${s.text.trim()}`; }).join('\\n'); }\nelse transcript = w.text || '';\nreturn [{ json: { body: { contentType: meta.contentType, transcript, videoUrl: '', speakerName: meta.speakerName, company: meta.company, metrics: [], title: meta.title }, fileId: meta.fileId, fileName: meta.fileName } }];"
      }
    },
    {
      "id": "drive-download-text",
      "name": "Download Transcript",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [780, 520],
      "parameters": { "operation": "download", "fileId": { "__rl": true, "mode": "id", "value": "={{ $json.fileId }}" }, "options": {} }
    },
    {
      "id": "code-format-text",
      "name": "Format Text Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 520],
      "parameters": {
        "jsCode": "const item = $input.first();\nconst meta = $('Detect File Type + Content Type').first().json;\nlet transcript = '';\nif (item.binary?.data) transcript = Buffer.from(item.binary.data.data, 'base64').toString('utf-8');\nelse if (item.json?.data) transcript = item.json.data;\nif (!transcript || transcript.trim().length < 20) throw new Error('Transcript too short');\nreturn [{ json: { body: { contentType: meta.contentType, transcript, videoUrl: '', speakerName: meta.speakerName, company: meta.company, metrics: [], title: meta.title }, fileId: meta.fileId, fileName: meta.fileName } }];"
      }
    },
    {
      "id": "merge-branches",
      "name": "Merge Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1440, 400],
      "parameters": { "mode": "combine", "combinationMode": "multiplex", "options": {} }
    },
    {
      "id": "code-prompt",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1660, 400],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body;\nconst contentType = body.contentType || 'technical-walkthrough';\nconst FLOWS = {\n  'technical-walkthrough': '5 scenes: Hook(big-stat-reveal) -> Speaker(person-scorecard) -> HowItWorks(workflow-pipeline) -> Results(data-table/kpi-dashboard) -> Arch+CTA(node-graph+cta-comment)',\n  'case-study': '6 scenes: HookStat(big-stat-reveal) -> ClientIntro(person-scorecard) -> Challenge(comparison-split) -> Solution(timeline-steps) -> Results(kpi-dashboard) -> Trust+CTA(logo-endorsement+cta-comment)',\n  'podcast': '4-6 scenes: GuestIntro(person-scorecard) -> KeyStat(big-stat-reveal) -> TopicViz(varies) -> CTA(cta-comment)'\n};\nconst systemPrompt = `B-roll scene generator for CUTAWAY format. Output JSON: { \"meta\": { \"contentType\": \"${contentType}\", \"title\": \"<title>\", \"fps\": 30, \"width\": 1080, \"height\": 1920, \"talkingHeadUrl\": \"\" }, \"scenes\": [{ \"type\": \"<type>\", \"from\": <frame>, \"durationInFrames\": <dur>, \"data\": {...}, \"backgroundVideo\": { \"query\": \"...\" } (optional) }], \"textStrip\": { \"labels\": [...] }, \"lowerThirds\": [...] }\\n\\nFlow: ${FLOWS[contentType]}\\n\\nASSET HINTS (n8n auto-fills URLs):\\n- workflow-pipeline & node-graph nodes: set icon: \"mdi:database\" (Iconify name) — adds inline SVG\\n- logo-endorsement logos: set name only — Brandfetch fills imageUrl\\n- backgroundVideo: { query: \"data center\" } — Pexels/Pixabay fills url\\n\\nFIRST-PASS DIAGNOSTIC: durationInFrames must be 180-360 frames (6-12s). Adjacent scenes overlap by 16+ frames. Percentages>95 need tickRange. No empty comparison-split sides. Realistic numbers (not inflated).\\n\\nTypes: big-stat-reveal({value,prefix?,suffix?,color,subtitle}), person-scorecard({name,title,badges[{value,label}]}), kpi-dashboard({header,cards[{label,value,color,tickRange?}]}), workflow-pipeline({header,rows[[{label,sub?,glow?,icon?}]]}), data-table({header,table:{columns,rows}}), node-graph({header,nodes[{label,x,y,color,icon?}],edges[{from,to}]}), timeline-steps({header,steps[{label,status}]}), comparison-split({left:{header,color,icon,items},right:{header,color,icon,items}}), logo-endorsement({header,logos[{name,imageUrl?}]}), cta-comment({action,keyword})\\n\\nframe=sec*30. Colors: #00D4FF #00FF88 #FF4444 #FF8C00 #8B5CF6. Output ONLY JSON.`;\nconst context = [body.speakerName ? `Speaker: ${body.speakerName}` : '', body.company ? `Company: ${body.company}` : ''].filter(Boolean).join('\\n');\nconst userMessage = `${context ? context + '\\n\\n' : ''}Transcript:\\n${body.transcript}`;\nreturn [{ json: { ...input, systemPrompt, userMessage, contentType, title: body.title } }];"
      }
    },
    {
      "id": "openrouter-claude",
      "name": "OpenRouter — Claude Scene Gen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1880, 400],
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.OPENROUTER_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "HTTP-Referer", "value": "https://github.com/balizain529-lang/sharingiscaring" },
            { "name": "X-Title", "value": "B-Roll Scene Generator" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'anthropic/claude-sonnet-4', max_tokens: 8000, messages: [{ role: 'system', content: $json.systemPrompt }, { role: 'user', content: $json.userMessage }] }) }}",
        "options": { "timeout": 120000 }
      }
    },
    {
      "id": "code-parse",
      "name": "Parse Scene JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2100, 400],
      "parameters": {
        "jsCode": "const prev = $('Build Claude Prompt').first().json;\nconst response = $input.first().json;\n// OpenRouter returns choices[0].message.content (OpenAI-compatible)\nconst content = response.choices?.[0]?.message?.content || response.content?.[0]?.text || '';\nlet config;\ntry { config = JSON.parse(content); }\ncatch (e) { const m = content.match(/\\{[\\s\\S]*\\}/); if (m) config = JSON.parse(m[0]); else throw new Error('Failed to parse scene JSON: ' + content.substring(0, 300)); }\nconst totalFrames = config.scenes.reduce((max, s) => Math.max(max, s.from + s.durationInFrames), 0);\nif (!config.meta || !config.scenes?.length) throw new Error('Invalid config');\nreturn [{ json: { config, totalFrames, totalSeconds: (totalFrames / 30).toFixed(1), sceneCount: config.scenes.length, sceneTypes: config.scenes.map(s => s.type), title: prev.title, contentType: prev.contentType, sourceFileId: prev.fileId, sourceFileName: prev.fileName, generatedAt: new Date().toISOString() } }];"
      }
    },
    {
      "id": "code-enrich-logos",
      "name": "Enrich Logos via Brandfetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2320, 400],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst config = item.config;\nconst BRANDFETCH_KEY = $vars.BRANDFETCH_API_KEY;\nif (!BRANDFETCH_KEY) return [{ json: item }]; // skip if no key\nfor (const scene of config.scenes) {\n  if (scene.type !== 'logo-endorsement') continue;\n  for (const logo of scene.data.logos) {\n    if (logo.imageUrl || !logo.name) continue;\n    try {\n      const r = await fetch(`https://api.brandfetch.io/v2/brands/${encodeURIComponent(logo.name)}`, { headers: { 'Authorization': `Bearer ${BRANDFETCH_KEY}` } });\n      if (!r.ok) continue;\n      const data = await r.json();\n      const icon = data.logos?.find(l => l.type === 'icon') || data.logos?.[0];\n      const fmt = icon?.formats?.find(f => f.format === 'svg') || icon?.formats?.find(f => f.format === 'png') || icon?.formats?.[0];\n      if (fmt?.src) logo.imageUrl = fmt.src;\n    } catch (e) { /* skip */ }\n  }\n}\nreturn [{ json: { ...item, config } }];"
      },
      "continueOnFail": true
    },
    {
      "id": "code-enrich-stock",
      "name": "Enrich Stock Footage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2540, 400],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst config = item.config;\nconst PEXELS_KEY = $vars.PEXELS_API_KEY;\nconst PIXABAY_KEY = $vars.PIXABAY_API_KEY;\nasync function pexels(query) { if (!PEXELS_KEY) return null; try { const r = await fetch(`https://api.pexels.com/videos/search?query=${encodeURIComponent(query)}&per_page=3&orientation=landscape`, { headers: { 'Authorization': PEXELS_KEY } }); if (!r.ok) return null; const d = await r.json(); const v = d.videos?.[0]; const f = v?.video_files?.find(f => f.quality === 'hd' && f.width >= 1280) || v?.video_files?.[0]; return f?.link || null; } catch (e) { return null; } }\nasync function pixabay(query) { if (!PIXABAY_KEY) return null; try { const r = await fetch(`https://pixabay.com/api/videos/?key=${PIXABAY_KEY}&q=${encodeURIComponent(query)}&per_page=3`); if (!r.ok) return null; const d = await r.json(); const v = d.hits?.[0]; return v?.videos?.medium?.url || v?.videos?.small?.url || null; } catch (e) { return null; } }\nfor (const scene of config.scenes) {\n  if (!scene.backgroundVideo?.query || scene.backgroundVideo.url) continue;\n  const q = scene.backgroundVideo.query;\n  let url = await pexels(q);\n  if (!url) url = await pixabay(q);\n  if (url) { scene.backgroundVideo.url = url; scene.backgroundVideo.source = url.includes('pexels') ? 'pexels' : 'pixabay'; }\n}\nreturn [{ json: { ...item, config } }];"
      },
      "continueOnFail": true
    },
    {
      "id": "google-drive-save-config",
      "name": "Save Config JSON to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2760, 280],
      "parameters": {
        "operation": "upload",
        "name": "={{ 'broll_' + $json.contentType + '_' + $json.title.replace(/[^a-zA-Z0-9]/g, '_') + '_' + Date.now() + '.json' }}",
        "driveId": { "__rl": true, "mode": "list", "value": "myDrive" },
        "folderId": { "__rl": true, "mode": "list", "value": "" },
        "inputDataFieldName": "={{ JSON.stringify($json.config, null, 2) }}",
        "options": { "mimeType": "application/json" }
      },
      "continueOnFail": true
    },
    {
      "id": "http-trigger-render",
      "name": "Trigger Remotion Render",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2760, 520],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.RENDER_API_URL }}/render",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{ $vars.RENDER_API_KEY }}" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ compositionId: 'DynamicCutaway', inputProps: { config: $json.config }, outputFormat: 'mp4' }) }}",
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "code-poll-render",
      "name": "Poll Until Render Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2980, 520],
      "parameters": {
        "jsCode": "const renderResp = $input.first().json;\nconst renderId = renderResp.renderId;\nconst statusUrl = `${$vars.RENDER_API_URL}/status/${renderId}`;\nconst downloadUrl = `${$vars.RENDER_API_URL}/download/${renderId}`;\nconst apiKey = $vars.RENDER_API_KEY;\nconst maxWaitMs = 900000; // 15 min max\nconst pollIntervalMs = 15000;\nconst start = Date.now();\nwhile (Date.now() - start < maxWaitMs) {\n  await new Promise(r => setTimeout(r, pollIntervalMs));\n  try {\n    const r = await fetch(statusUrl, { headers: { 'Authorization': `Bearer ${apiKey}` } });\n    if (!r.ok) { continue; }\n    const status = await r.json();\n    if (status.status === 'complete') {\n      return [{ json: { renderId, status: 'complete', downloadUrl, fileSizeMB: status.fileSizeMB, completedAt: status.completedAt } }];\n    }\n    if (status.status === 'error') {\n      throw new Error('Render failed: ' + (status.error || 'unknown error'));\n    }\n  } catch (e) {\n    if (e.message?.startsWith('Render failed')) throw e;\n    /* network blip — keep polling */\n  }\n}\nthrow new Error('Render timeout after ' + (maxWaitMs / 60000) + ' minutes');"
      }
    },
    {
      "id": "http-download-mp4",
      "name": "Download Rendered MP4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3200, 520],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.downloadUrl }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{ $vars.RENDER_API_KEY }}" }] },
        "options": { "response": { "response": { "responseFormat": "file" } }, "timeout": 120000 }
      }
    },
    {
      "id": "google-drive-upload-mp4",
      "name": "Upload MP4 to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [3420, 520],
      "parameters": {
        "operation": "upload",
        "name": "={{ 'broll_' + $('Parse Scene JSON').first().json.contentType + '_' + $('Parse Scene JSON').first().json.title.replace(/[^a-zA-Z0-9]/g, '_') + '_' + Date.now() + '.mp4' }}",
        "driveId": { "__rl": true, "mode": "list", "value": "myDrive" },
        "folderId": { "__rl": true, "mode": "list", "value": "" },
        "options": { "mimeType": "video/mp4" }
      }
    },
    {
      "id": "clickup-task",
      "name": "Create ClickUp Review Task",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [3640, 400],
      "parameters": {
        "resource": "task",
        "operation": "create",
        "list": "={{ $vars.CLICKUP_LIST_ID }}",
        "name": "=Review B-Roll: {{ $('Parse Scene JSON').first().json.title }} ({{ $('Parse Scene JSON').first().json.contentType }})",
        "additionalFields": {
          "content": "=## B-Roll Auto-Generated + Rendered\\n\\n**Source:** {{ $('Parse Scene JSON').first().json.sourceFileName }}\\n**Type:** {{ $('Parse Scene JSON').first().json.contentType }}\\n**Duration:** {{ $('Parse Scene JSON').first().json.totalSeconds }}s\\n**Scenes:** {{ $('Parse Scene JSON').first().json.sceneCount }} ({{ $('Parse Scene JSON').first().json.sceneTypes.join(', ') }})\\n\\n### Files\\n- Scene config JSON: in Google Drive\\n- Rendered MP4: in Google Drive (this run)\\n\\n### Asset Enrichment Applied\\n- Iconify icons rendered inline\\n- Brandfetch logos populated where available\\n- Stock footage backgrounds (Pexels/Pixabay) where requested\\n\\n### Next Steps\\n1. Review the rendered MP4\\n2. If approved, push to publishing pipeline (Blotato)\\n3. If rework needed, edit scene config JSON and re-render manually\\n\\n**Generated:** {{ $('Parse Scene JSON').first().json.generatedAt }}",
          "priority": 3,
          "status": "to review"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Watch B-Roll Drop Folder": { "main": [[{ "node": "Detect File Type + Content Type", "type": "main", "index": 0 }]] },
    "Detect File Type + Content Type": { "main": [[{ "node": "Video or Text?", "type": "main", "index": 0 }]] },
    "Video or Text?": { "main": [[{ "node": "Download Video", "type": "main", "index": 0 }], [{ "node": "Download Transcript", "type": "main", "index": 0 }]] },
    "Download Video": { "main": [[{ "node": "Groq Whisper — Transcribe", "type": "main", "index": 0 }]] },
    "Groq Whisper — Transcribe": { "main": [[{ "node": "Format Whisper Transcript", "type": "main", "index": 0 }]] },
    "Format Whisper Transcript": { "main": [[{ "node": "Merge Branches", "type": "main", "index": 0 }]] },
    "Download Transcript": { "main": [[{ "node": "Format Text Transcript", "type": "main", "index": 0 }]] },
    "Format Text Transcript": { "main": [[{ "node": "Merge Branches", "type": "main", "index": 1 }]] },
    "Merge Branches": { "main": [[{ "node": "Build Claude Prompt", "type": "main", "index": 0 }]] },
    "Build Claude Prompt": { "main": [[{ "node": "OpenRouter — Claude Scene Gen", "type": "main", "index": 0 }]] },
    "OpenRouter — Claude Scene Gen": { "main": [[{ "node": "Parse Scene JSON", "type": "main", "index": 0 }]] },
    "Parse Scene JSON": { "main": [[{ "node": "Enrich Logos via Brandfetch", "type": "main", "index": 0 }]] },
    "Enrich Logos via Brandfetch": { "main": [[{ "node": "Enrich Stock Footage", "type": "main", "index": 0 }]] },
    "Enrich Stock Footage": { "main": [[{ "node": "Save Config JSON to Drive", "type": "main", "index": 0 }, { "node": "Trigger Remotion Render", "type": "main", "index": 0 }]] },
    "Trigger Remotion Render": { "main": [[{ "node": "Poll Until Render Complete", "type": "main", "index": 0 }]] },
    "Poll Until Render Complete": { "main": [[{ "node": "Download Rendered MP4", "type": "main", "index": 0 }]] },
    "Download Rendered MP4": { "main": [[{ "node": "Upload MP4 to Drive", "type": "main", "index": 0 }]] },
    "Upload MP4 to Drive": { "main": [[{ "node": "Create ClickUp Review Task", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
