n8n-workflows/drive-watcher-v2.json
{
  "name": "B-Roll Drive Watcher — Drop MP4, Auto B-Roll",
  "nodes": [
    {
      "id": "drive-trigger-1",
      "name": "Watch B-Roll Drop Folder",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "event": "fileCreated",
        "options": {
          "includeSubfolders": true
        }
      }
    },
    {
      "id": "code-detect-type",
      "name": "Detect File Type + Content Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "jsCode": "const file = $input.first().json;\nconst name = file.name || '';\nconst mime = file.mimeType || '';\n\n// Detect if video or text\nconst isVideo = mime.startsWith('video/') || /\\.(mp4|mov|webm|mkv)$/i.test(name);\nconst isText = /\\.(txt|md|srt)$/i.test(name);\n\nif (!isVideo && !isText) {\n  throw new Error('Unsupported file type: ' + name + ' (' + mime + '). Drop .mp4 video or .txt/.md/.srt transcript.');\n}\n\n// Detect content type from parent folder\nconst parents = (file.parents || []).map(p => (p.name || '').toLowerCase());\nconst folderPath = parents.join('/').toLowerCase();\n\nlet contentType = 'technical-walkthrough';\nif (folderPath.includes('case-study') || folderPath.includes('casestudy')) contentType = 'case-study';\nelse if (folderPath.includes('podcast')) contentType = 'podcast';\nelse if (folderPath.includes('technical') || folderPath.includes('walkthrough') || folderPath.includes('demo')) contentType = 'technical-walkthrough';\n\n// Parse speaker + company from filename: SpeakerName_Company_Title.ext\nconst baseName = name.replace(/\\.[^.]+$/, '');\nconst parts = baseName.split('_').map(p => p.trim());\nlet speakerName = '', company = '', title = baseName;\n\nif (parts.length >= 3) {\n  speakerName = parts[0].replace(/([a-z])([A-Z])/g, '$1 $2');\n  company = parts[1].replace(/([a-z])([A-Z])/g, '$1 $2');\n  title = parts.slice(2).join(' ');\n} else if (parts.length === 2) {\n  speakerName = parts[0].replace(/([a-z])([A-Z])/g, '$1 $2');\n  title = parts[1];\n}\n\nreturn [{\n  json: {\n    fileId: file.id,\n    fileName: name,\n    isVideo,\n    isText,\n    contentType,\n    speakerName,\n    company,\n    title,\n    mimeType: mime\n  }\n}];"
      }
    },
    {
      "id": "switch-filetype",
      "name": "Video or Text?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [740, 300],
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "conditions": [{
                  "leftValue": "={{ $json.isVideo }}",
                  "rightValue": true,
                  "operator": { "type": "boolean", "operation": "true" }
                }]
              },
              "renameOutput": true,
              "outputKey": "video"
            },
            {
              "conditions": {
                "conditions": [{
                  "leftValue": "={{ $json.isText }}",
                  "rightValue": true,
                  "operator": { "type": "boolean", "operation": "true" }
                }]
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        }
      }
    },
    {
      "id": "drive-download-video",
      "name": "Download Video",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1000, 180],
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "options": {}
      }
    },
    {
      "id": "whisper-transcribe",
      "name": "Whisper API — Transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1240, 180],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.OPENAI_API_KEY }}" }
          ]
        },
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "parameterType": "formData", "value": "whisper-1" },
            { "name": "response_format", "parameterType": "formData", "value": "verbose_json" },
            { "name": "timestamp_granularities[]", "parameterType": "formData", "value": "segment" },
            { "name": "file", "parameterType": "formBinaryData", "inputDataFieldName": "data" }
          ]
        },
        "options": {
          "timeout": 300000
        }
      }
    },
    {
      "id": "code-format-whisper",
      "name": "Format Whisper Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1480, 180],
      "parameters": {
        "jsCode": "const whisper = $input.first().json;\nconst meta = $('Detect File Type + Content Type').first().json;\n\n// Build timestamped transcript from Whisper segments\nlet transcript = '';\nif (whisper.segments && whisper.segments.length > 0) {\n  transcript = whisper.segments.map(seg => {\n    const startMin = Math.floor(seg.start / 60);\n    const startSec = Math.floor(seg.start % 60);\n    const ts = `${String(startMin).padStart(2, '0')}:${String(startSec).padStart(2, '0')}`;\n    return `[${ts}] ${seg.text.trim()}`;\n  }).join('\\n');\n} else {\n  transcript = whisper.text || '';\n}\n\nreturn [{\n  json: {\n    body: {\n      contentType: meta.contentType,\n      transcript,\n      videoUrl: '',\n      speakerName: meta.speakerName,\n      company: meta.company,\n      metrics: [],\n      title: meta.title\n    },\n    fileId: meta.fileId,\n    fileName: meta.fileName,\n    transcriptLength: transcript.length,\n    segmentCount: whisper.segments?.length || 0,\n    duration: whisper.duration || 0\n  }\n}];"
      }
    },
    {
      "id": "drive-download-text",
      "name": "Download Transcript",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1000, 420],
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "options": {}
      }
    },
    {
      "id": "code-format-text",
      "name": "Format Text Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 420],
      "parameters": {
        "jsCode": "const item = $input.first();\nconst meta = $('Detect File Type + Content Type').first().json;\n\nlet transcript = '';\nif (item.binary?.data) {\n  transcript = Buffer.from(item.binary.data.data, 'base64').toString('utf-8');\n} else if (item.json?.data) {\n  transcript = item.json.data;\n}\n\nif (!transcript || transcript.trim().length < 20) {\n  throw new Error('Transcript too short: ' + (transcript || '').substring(0, 50));\n}\n\nreturn [{\n  json: {\n    body: {\n      contentType: meta.contentType,\n      transcript,\n      videoUrl: '',\n      speakerName: meta.speakerName,\n      company: meta.company,\n      metrics: [],\n      title: meta.title\n    },\n    fileId: meta.fileId,\n    fileName: meta.fileName,\n    transcriptLength: transcript.length\n  }\n}];"
      }
    },
    {
      "id": "merge-branches",
      "name": "Merge Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1700, 300],
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      }
    },
    {
      "id": "code-prompt-dw2",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1940, 300],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body;\nconst contentType = body.contentType || 'technical-walkthrough';\n\nconst FLOWS = {\n  'technical-walkthrough': '5 scenes: Hook(big-stat-reveal) -> Speaker(person-scorecard) -> HowItWorks(workflow-pipeline) -> Results(data-table/kpi-dashboard) -> Arch+CTA(node-graph+cta-comment)',\n  'case-study': '6 scenes: HookStat(big-stat-reveal) -> ClientIntro(person-scorecard) -> Challenge(comparison-split) -> Solution(timeline-steps) -> Results(kpi-dashboard) -> Trust+CTA(logo-endorsement+cta-comment)',\n  'podcast': '4-6 scenes: GuestIntro(person-scorecard) -> KeyStat(big-stat-reveal) -> TopicViz(varies) -> CTA(cta-comment)'\n};\n\nconst systemPrompt = `You are a B-roll scene generator for short-form video. Output JSON for CUTAWAY format (full-screen speaker with animated graphics overlaying at key moments).\\n\\nOutput: { \"meta\": { \"contentType\": \"${contentType}\", \"title\": \"<title>\", \"fps\": 30, \"width\": 1080, \"height\": 1920, \"talkingHeadUrl\": \"\" }, \"scenes\": [{ \"type\": \"<type>\", \"from\": <frame>, \"durationInFrames\": <dur>, \"data\": {...} }], \"textStrip\": { \"labels\": [{ \"from\": <frame>, \"label\": \"<text>\" }] } }\\n\\nFlow: ${FLOWS[contentType] || FLOWS['technical-walkthrough']}\\n\\nTypes: big-stat-reveal({value,prefix?,suffix?,color,subtitle}), person-scorecard({name,title,badges[{value,label}]}), kpi-dashboard({header,cards[{label,value,color}]}), workflow-pipeline({header,rows[[{label,sub?,glow?}]]}), data-table({header,table:{columns,rows}}), node-graph({header,nodes[{label,x,y,color}],edges[{from,to}]}), timeline-steps({header,steps[{label,status}]}), comparison-split({left:{header,color,icon,items},right:{header,color,icon,items}}), logo-endorsement({header,logos[{name}]}), cta-comment({action,keyword})\\n\\nCUTAWAY RULES:\\n1. Speaker video plays full-screen. Graphics OVERLAY the speaker.\\n2. First 5-10 seconds: speaker visible (no overlay). Last 5-10 seconds: speaker visible.\\n3. Between: animated graphics cover the speaker at key moments.\\n4. Each scene must match what speaker says at that exact moment.\\n5. frame=sec*30. Colors: #00D4FF #00FF88 #FF4444 #FF8C00 #8B5CF6. Min 180 frames.\\n6. Output ONLY JSON.`;\n\nconst context = [body.speakerName ? `Speaker: ${body.speakerName}` : '', body.company ? `Company: ${body.company}` : ''].filter(Boolean).join('\\n');\nconst userMessage = `${context ? context + '\\n\\n' : ''}Transcript:\\n${body.transcript}`;\n\nreturn [{ json: { ...input, systemPrompt, userMessage, contentType, title: body.title } }];"
      }
    },
    {
      "id": "http-claude-dw2",
      "name": "Claude API — Generate Scenes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2180, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $vars.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 8000, system: $json.systemPrompt, messages: [{ role: 'user', content: $json.userMessage }] }) }}"
      }
    },
    {
      "id": "code-parse-dw2",
      "name": "Parse Scene JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, 300],
      "parameters": {
        "jsCode": "const prev = $('Build Claude Prompt').first().json;\nconst response = $input.first().json;\nconst content = response.content?.[0]?.text || '';\n\nlet config;\ntry {\n  config = JSON.parse(content);\n} catch (e) {\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  if (match) config = JSON.parse(match[0]);\n  else throw new Error('Failed to parse scene JSON');\n}\n\nconst totalFrames = config.scenes.reduce((max, s) => Math.max(max, s.from + s.durationInFrames), 0);\nif (!config.meta || !config.scenes?.length) throw new Error('Invalid config');\n\nreturn [{ json: {\n  config,\n  totalFrames,\n  totalSeconds: (totalFrames / 30).toFixed(1),\n  sceneCount: config.scenes.length,\n  sceneTypes: config.scenes.map(s => s.type),\n  title: prev.title,\n  contentType: prev.contentType,\n  sourceFileId: prev.fileId,\n  sourceFileName: prev.fileName,\n  generatedAt: new Date().toISOString()\n} }];"
      }
    },
    {
      "id": "google-drive-save-dw2",
      "name": "Save Config to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2660, 200],
      "parameters": {
        "operation": "upload",
        "name": "={{ 'broll_' + $json.contentType + '_' + $json.title.replace(/[^a-zA-Z0-9]/g, '_') + '_' + Date.now() + '.json' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "myDrive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "inputDataFieldName": "={{ JSON.stringify($json.config, null, 2) }}",
        "options": {
          "mimeType": "application/json"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "clickup-dw2",
      "name": "Create ClickUp Review Task",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [2660, 400],
      "parameters": {
        "resource": "task",
        "operation": "create",
        "list": "={{ $vars.CLICKUP_LIST_ID }}",
        "name": "=Review B-Roll: {{ $json.title }} ({{ $json.contentType }})",
        "additionalFields": {
          "content": "=## B-Roll Auto-Generated\\n\\n**Source:** {{ $json.sourceFileName }}\\n**Type:** {{ $json.contentType }}\\n**Duration:** {{ $json.totalSeconds }}s\\n**Scenes:** {{ $json.sceneCount }} ({{ $json.sceneTypes.join(', ') }})\\n\\n### Next Steps\\n1. Open scene config JSON from Google Drive\\n2. Load into Remotion Studio (`DynamicCutaway` composition)\\n3. Set `talkingHeadUrl` to the source video\\n4. Preview, adjust timing, render MP4\\n\\n**Generated:** {{ $json.generatedAt }}",
          "priority": 3,
          "status": "to review"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Watch B-Roll Drop Folder": {
      "main": [[{ "node": "Detect File Type + Content Type", "type": "main", "index": 0 }]]
    },
    "Detect File Type + Content Type": {
      "main": [[{ "node": "Video or Text?", "type": "main", "index": 0 }]]
    },
    "Video or Text?": {
      "main": [
        [{ "node": "Download Video", "type": "main", "index": 0 }],
        [{ "node": "Download Transcript", "type": "main", "index": 0 }]
      ]
    },
    "Download Video": {
      "main": [[{ "node": "Whisper API — Transcribe", "type": "main", "index": 0 }]]
    },
    "Whisper API — Transcribe": {
      "main": [[{ "node": "Format Whisper Transcript", "type": "main", "index": 0 }]]
    },
    "Format Whisper Transcript": {
      "main": [[{ "node": "Merge Branches", "type": "main", "index": 0 }]]
    },
    "Download Transcript": {
      "main": [[{ "node": "Format Text Transcript", "type": "main", "index": 0 }]]
    },
    "Format Text Transcript": {
      "main": [[{ "node": "Merge Branches", "type": "main", "index": 1 }]]
    },
    "Merge Branches": {
      "main": [[{ "node": "Build Claude Prompt", "type": "main", "index": 0 }]]
    },
    "Build Claude Prompt": {
      "main": [[{ "node": "Claude API — Generate Scenes", "type": "main", "index": 0 }]]
    },
    "Claude API — Generate Scenes": {
      "main": [[{ "node": "Parse Scene JSON", "type": "main", "index": 0 }]]
    },
    "Parse Scene JSON": {
      "main": [
        [
          { "node": "Save Config to Drive", "type": "main", "index": 0 },
          { "node": "Create ClickUp Review Task", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
