n8n-workflows/drive-watcher-v3-enriched.json
{
  "name": "B-Roll Drive Watcher v3 — MP4/Transcript + Asset Enrichment",
  "nodes": [
    {
      "id": "drive-trigger-1",
      "name": "Watch B-Roll Drop Folder",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [200, 400],
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] },
        "triggerOn": "specificFolder",
        "folderToWatch": { "__rl": true, "mode": "list", "value": "" },
        "event": "fileCreated",
        "options": { "includeSubfolders": true }
      }
    },
    {
      "id": "code-detect-type",
      "name": "Detect File Type + Content Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400],
      "parameters": {
        "jsCode": "const file = $input.first().json;\nconst name = file.name || '';\nconst mime = file.mimeType || '';\nconst isVideo = mime.startsWith('video/') || /\\.(mp4|mov|webm|mkv)$/i.test(name);\nconst isText = /\\.(txt|md|srt)$/i.test(name);\nif (!isVideo && !isText) throw new Error('Unsupported: ' + name);\nconst parents = (file.parents || []).map(p => (p.name || '').toLowerCase());\nconst folderPath = parents.join('/').toLowerCase();\nlet contentType = 'technical-walkthrough';\nif (folderPath.includes('case-study') || folderPath.includes('casestudy')) contentType = 'case-study';\nelse if (folderPath.includes('podcast')) contentType = 'podcast';\nconst baseName = name.replace(/\\.[^.]+$/, '');\nconst parts = baseName.split('_').map(p => p.trim());\nlet speakerName = '', company = '', title = baseName;\nif (parts.length >= 3) { speakerName = parts[0].replace(/([a-z])([A-Z])/g, '$1 $2'); company = parts[1].replace(/([a-z])([A-Z])/g, '$1 $2'); title = parts.slice(2).join(' '); }\nelse if (parts.length === 2) { speakerName = parts[0].replace(/([a-z])([A-Z])/g, '$1 $2'); title = parts[1]; }\nreturn [{ json: { fileId: file.id, fileName: name, isVideo, isText, contentType, speakerName, company, title, mimeType: mime } }];"
      }
    },
    {
      "id": "switch-filetype",
      "name": "Video or Text?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [680, 400],
      "parameters": {
        "rules": {
          "rules": [
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.isVideo }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }] }, "renameOutput": true, "outputKey": "video" },
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.isText }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }] }, "renameOutput": true, "outputKey": "text" }
          ]
        }
      }
    },
    {
      "id": "drive-download-video",
      "name": "Download Video",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [920, 280],
      "parameters": { "operation": "download", "fileId": { "__rl": true, "mode": "id", "value": "={{ $json.fileId }}" }, "options": {} }
    },
    {
      "id": "whisper-transcribe",
      "name": "Whisper API — Transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 280],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{ $vars.OPENAI_API_KEY }}" }] },
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "parameterType": "formData", "value": "whisper-1" },
            { "name": "response_format", "parameterType": "formData", "value": "verbose_json" },
            { "name": "timestamp_granularities[]", "parameterType": "formData", "value": "segment" },
            { "name": "file", "parameterType": "formBinaryData", "inputDataFieldName": "data" }
          ]
        },
        "options": { "timeout": 300000 }
      }
    },
    {
      "id": "code-format-whisper",
      "name": "Format Whisper Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 280],
      "parameters": {
        "jsCode": "const w = $input.first().json;\nconst meta = $('Detect File Type + Content Type').first().json;\nlet transcript = '';\nif (w.segments?.length) { transcript = w.segments.map(s => { const m = Math.floor(s.start / 60), sec = Math.floor(s.start % 60); return `[${String(m).padStart(2,'0')}:${String(sec).padStart(2,'0')}] ${s.text.trim()}`; }).join('\\n'); }\nelse transcript = w.text || '';\nreturn [{ json: { body: { contentType: meta.contentType, transcript, videoUrl: '', speakerName: meta.speakerName, company: meta.company, metrics: [], title: meta.title }, fileId: meta.fileId, fileName: meta.fileName } }];"
      }
    },
    {
      "id": "drive-download-text",
      "name": "Download Transcript",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [920, 520],
      "parameters": { "operation": "download", "fileId": { "__rl": true, "mode": "id", "value": "={{ $json.fileId }}" }, "options": {} }
    },
    {
      "id": "code-format-text",
      "name": "Format Text Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 520],
      "parameters": {
        "jsCode": "const item = $input.first();\nconst meta = $('Detect File Type + Content Type').first().json;\nlet transcript = '';\nif (item.binary?.data) transcript = Buffer.from(item.binary.data.data, 'base64').toString('utf-8');\nelse if (item.json?.data) transcript = item.json.data;\nif (!transcript || transcript.trim().length < 20) throw new Error('Transcript too short');\nreturn [{ json: { body: { contentType: meta.contentType, transcript, videoUrl: '', speakerName: meta.speakerName, company: meta.company, metrics: [], title: meta.title }, fileId: meta.fileId, fileName: meta.fileName } }];"
      }
    },
    {
      "id": "merge-branches",
      "name": "Merge Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1640, 400],
      "parameters": { "mode": "combine", "combinationMode": "multiplex", "options": {} }
    },
    {
      "id": "code-prompt",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1880, 400],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body;\nconst contentType = body.contentType || 'technical-walkthrough';\nconst FLOWS = {\n  'technical-walkthrough': '5 scenes: Hook(big-stat-reveal) -> Speaker(person-scorecard) -> HowItWorks(workflow-pipeline) -> Results(data-table/kpi-dashboard) -> Arch+CTA(node-graph+cta-comment)',\n  'case-study': '6 scenes: HookStat(big-stat-reveal) -> ClientIntro(person-scorecard) -> Challenge(comparison-split) -> Solution(timeline-steps) -> Results(kpi-dashboard) -> Trust+CTA(logo-endorsement+cta-comment)',\n  'podcast': '4-6 scenes: GuestIntro(person-scorecard) -> KeyStat(big-stat-reveal) -> TopicViz(varies) -> CTA(cta-comment)'\n};\nconst systemPrompt = `B-roll scene generator for CUTAWAY format. Output JSON: { \"meta\": { \"contentType\": \"${contentType}\", \"title\": \"<title>\", \"fps\": 30, \"width\": 1080, \"height\": 1920, \"talkingHeadUrl\": \"\" }, \"scenes\": [{ \"type\": \"<type>\", \"from\": <frame>, \"durationInFrames\": <dur>, \"data\": {...}, \"backgroundVideo\": { \"query\": \"...\" } (optional) }], \"textStrip\": { \"labels\": [...] }, \"lowerThirds\": [...] }\\n\\nFlow: ${FLOWS[contentType]}\\n\\nASSET HINTS (n8n auto-fills URLs):\\n- workflow-pipeline & node-graph nodes: set icon: \"mdi:database\" (Iconify name) — adds inline SVG\\n- logo-endorsement logos: set name only — Brandfetch fills imageUrl\\n- backgroundVideo: { query: \"data center\" } — Pexels/Pixabay/Mixkit fills url\\n\\nFIRST-PASS DIAGNOSTIC: durationInFrames must be 180-360 frames (6-12s). Adjacent scenes overlap by 16+ frames. Percentages>95 need tickRange. No empty comparison-split sides. Realistic numbers (not inflated).\\n\\nTypes: big-stat-reveal({value,prefix?,suffix?,color,subtitle}), person-scorecard({name,title,badges[{value,label}]}), kpi-dashboard({header,cards[{label,value,color,tickRange?}]}), workflow-pipeline({header,rows[[{label,sub?,glow?,icon?}]]}), data-table({header,table:{columns,rows}}), node-graph({header,nodes[{label,x,y,color,icon?}],edges[{from,to}]}), timeline-steps({header,steps[{label,status}]}), comparison-split({left:{header,color,icon,items},right:{header,color,icon,items}}), logo-endorsement({header,logos[{name,imageUrl?}]}), cta-comment({action,keyword})\\n\\nframe=sec*30. Colors: #00D4FF #00FF88 #FF4444 #FF8C00 #8B5CF6. Output ONLY JSON.`;\nconst context = [body.speakerName ? `Speaker: ${body.speakerName}` : '', body.company ? `Company: ${body.company}` : ''].filter(Boolean).join('\\n');\nconst userMessage = `${context ? context + '\\n\\n' : ''}Transcript:\\n${body.transcript}`;\nreturn [{ json: { ...input, systemPrompt, userMessage, contentType, title: body.title } }];"
      }
    },
    {
      "id": "http-claude",
      "name": "Claude API — Generate Scenes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2120, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $vars.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 8000, system: $json.systemPrompt, messages: [{ role: 'user', content: $json.userMessage }] }) }}"
      }
    },
    {
      "id": "code-parse",
      "name": "Parse Scene JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2360, 400],
      "parameters": {
        "jsCode": "const prev = $('Build Claude Prompt').first().json;\nconst response = $input.first().json;\nconst content = response.content?.[0]?.text || '';\nlet config;\ntry { config = JSON.parse(content); }\ncatch (e) { const m = content.match(/\\{[\\s\\S]*\\}/); if (m) config = JSON.parse(m[0]); else throw new Error('parse fail'); }\nconst totalFrames = config.scenes.reduce((max, s) => Math.max(max, s.from + s.durationInFrames), 0);\nreturn [{ json: { config, totalFrames, totalSeconds: (totalFrames / 30).toFixed(1), sceneCount: config.scenes.length, sceneTypes: config.scenes.map(s => s.type), title: prev.title, contentType: prev.contentType, sourceFileId: prev.fileId, sourceFileName: prev.fileName, generatedAt: new Date().toISOString() } }];"
      }
    },
    {
      "id": "code-enrich-logos",
      "name": "Enrich Logos via Brandfetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, 400],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst config = item.config;\nconst BRANDFETCH_KEY = $vars.BRANDFETCH_API_KEY;\n\nfor (const scene of config.scenes) {\n  if (scene.type !== 'logo-endorsement') continue;\n  for (const logo of scene.data.logos) {\n    if (logo.imageUrl) continue;\n    if (!logo.name) continue;\n    try {\n      const r = await fetch(`https://api.brandfetch.io/v2/brands/${encodeURIComponent(logo.name)}`, {\n        headers: { 'Authorization': `Bearer ${BRANDFETCH_KEY}` }\n      });\n      if (!r.ok) continue;\n      const data = await r.json();\n      const icon = data.logos?.find(l => l.type === 'icon') || data.logos?.[0];\n      const fmt = icon?.formats?.find(f => f.format === 'svg') || icon?.formats?.find(f => f.format === 'png') || icon?.formats?.[0];\n      if (fmt?.src) logo.imageUrl = fmt.src;\n    } catch (e) { /* skip on failure, text fallback renders */ }\n  }\n}\nreturn [{ json: { ...item, config } }];"
      },
      "continueOnFail": true
    },
    {
      "id": "code-enrich-stock",
      "name": "Enrich Stock Footage (Pexels → Pixabay → Mixkit)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2840, 400],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst config = item.config;\nconst PEXELS_KEY = $vars.PEXELS_API_KEY;\nconst PIXABAY_KEY = $vars.PIXABAY_API_KEY;\n\nasync function pexels(query) {\n  if (!PEXELS_KEY) return null;\n  try {\n    const r = await fetch(`https://api.pexels.com/videos/search?query=${encodeURIComponent(query)}&per_page=3&orientation=landscape`, { headers: { 'Authorization': PEXELS_KEY } });\n    if (!r.ok) return null;\n    const d = await r.json();\n    const v = d.videos?.[0];\n    const file = v?.video_files?.find(f => f.quality === 'hd' && f.width >= 1280) || v?.video_files?.[0];\n    return file?.link || null;\n  } catch (e) { return null; }\n}\nasync function pixabay(query) {\n  if (!PIXABAY_KEY) return null;\n  try {\n    const r = await fetch(`https://pixabay.com/api/videos/?key=${PIXABAY_KEY}&q=${encodeURIComponent(query)}&per_page=3`);\n    if (!r.ok) return null;\n    const d = await r.json();\n    const v = d.hits?.[0];\n    return v?.videos?.medium?.url || v?.videos?.small?.url || null;\n  } catch (e) { return null; }\n}\n\nfor (const scene of config.scenes) {\n  if (!scene.backgroundVideo?.query || scene.backgroundVideo.url) continue;\n  const q = scene.backgroundVideo.query;\n  const src = scene.backgroundVideo.source || 'pexels';\n  let url = null;\n  if (src === 'pexels' || !url) url = await pexels(q);\n  if (!url) url = await pixabay(q);\n  if (url) {\n    scene.backgroundVideo.url = url;\n    scene.backgroundVideo.source = url.includes('pexels') ? 'pexels' : 'pixabay';\n  }\n}\nreturn [{ json: { ...item, config } }];"
      },
      "continueOnFail": true
    },
    {
      "id": "google-drive-save",
      "name": "Save Enriched Config to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [3080, 320],
      "parameters": {
        "operation": "upload",
        "name": "={{ 'broll_' + $json.contentType + '_' + $json.title.replace(/[^a-zA-Z0-9]/g, '_') + '_' + Date.now() + '.json' }}",
        "driveId": { "__rl": true, "mode": "list", "value": "myDrive" },
        "folderId": { "__rl": true, "mode": "list", "value": "" },
        "inputDataFieldName": "={{ JSON.stringify($json.config, null, 2) }}",
        "options": { "mimeType": "application/json" }
      },
      "continueOnFail": true
    },
    {
      "id": "clickup-task",
      "name": "Create ClickUp Review Task",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [3080, 480],
      "parameters": {
        "resource": "task",
        "operation": "create",
        "list": "={{ $vars.CLICKUP_LIST_ID }}",
        "name": "=Review B-Roll: {{ $json.title }} ({{ $json.contentType }})",
        "additionalFields": {
          "content": "=## B-Roll Auto-Generated + Enriched\\n\\n**Source:** {{ $json.sourceFileName }}\\n**Type:** {{ $json.contentType }}\\n**Duration:** {{ $json.totalSeconds }}s\\n**Scenes:** {{ $json.sceneCount }} ({{ $json.sceneTypes.join(', ') }})\\n\\n### Asset Enrichment\\n- Iconify icons rendered inline\\n- Brandfetch logos: populated where available\\n- Stock footage backgrounds: Pexels/Pixabay/Mixkit fallback chain\\n\\n### Next Steps\\n1. Open scene config JSON from Google Drive\\n2. Load into Remotion Studio (DynamicCutaway composition)\\n3. Set talkingHeadUrl to the source video\\n4. Preview, adjust timing, render MP4\\n\\n**Generated:** {{ $json.generatedAt }}",
          "priority": 3,
          "status": "to review"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Watch B-Roll Drop Folder": { "main": [[{ "node": "Detect File Type + Content Type", "type": "main", "index": 0 }]] },
    "Detect File Type + Content Type": { "main": [[{ "node": "Video or Text?", "type": "main", "index": 0 }]] },
    "Video or Text?": { "main": [[{ "node": "Download Video", "type": "main", "index": 0 }], [{ "node": "Download Transcript", "type": "main", "index": 0 }]] },
    "Download Video": { "main": [[{ "node": "Whisper API — Transcribe", "type": "main", "index": 0 }]] },
    "Whisper API — Transcribe": { "main": [[{ "node": "Format Whisper Transcript", "type": "main", "index": 0 }]] },
    "Format Whisper Transcript": { "main": [[{ "node": "Merge Branches", "type": "main", "index": 0 }]] },
    "Download Transcript": { "main": [[{ "node": "Format Text Transcript", "type": "main", "index": 0 }]] },
    "Format Text Transcript": { "main": [[{ "node": "Merge Branches", "type": "main", "index": 1 }]] },
    "Merge Branches": { "main": [[{ "node": "Build Claude Prompt", "type": "main", "index": 0 }]] },
    "Build Claude Prompt": { "main": [[{ "node": "Claude API — Generate Scenes", "type": "main", "index": 0 }]] },
    "Claude API — Generate Scenes": { "main": [[{ "node": "Parse Scene JSON", "type": "main", "index": 0 }]] },
    "Parse Scene JSON": { "main": [[{ "node": "Enrich Logos via Brandfetch", "type": "main", "index": 0 }]] },
    "Enrich Logos via Brandfetch": { "main": [[{ "node": "Enrich Stock Footage (Pexels → Pixabay → Mixkit)", "type": "main", "index": 0 }]] },
    "Enrich Stock Footage (Pexels → Pixabay → Mixkit)": { "main": [[{ "node": "Save Enriched Config to Drive", "type": "main", "index": 0 }, { "node": "Create ClickUp Review Task", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
