n8n-workflows/drive-watcher.json
{
  "name": "B-Roll Drive Watcher — Auto-Generate on Transcript Drop",
  "nodes": [
    {
      "id": "drive-trigger-1",
      "name": "Watch B-Roll Transcripts Folder",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "event": "fileCreated",
        "options": {
          "includeSubfolders": true
        }
      }
    },
    {
      "id": "filter-txt-1",
      "name": "Filter Text Files Only",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ $json.name }}",
              "rightValue": "\\.(txt|md|srt)$",
              "operator": { "type": "string", "operation": "regex" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "drive-download-1",
      "name": "Download Transcript",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [710, 220],
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      }
    },
    {
      "id": "code-extract-1",
      "name": "Extract Metadata from File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 220],
      "parameters": {
        "jsCode": "const item = $input.first();\nconst trigger = $('Watch B-Roll Transcripts Folder').first().json;\n\n// Get transcript text from binary data\nlet transcript = '';\nif (item.binary?.data) {\n  transcript = Buffer.from(item.binary.data.data, 'base64').toString('utf-8');\n} else if (item.json?.data) {\n  transcript = item.json.data;\n}\n\nif (!transcript || transcript.trim().length < 20) {\n  throw new Error('Transcript is empty or too short: ' + (transcript || '').substring(0, 50));\n}\n\n// Detect content type from parent folder path\n// Expects: .../technical-walkthrough/file.txt or .../case-study/file.txt or .../podcast/file.txt\nconst parents = (trigger.parents || []).map(p => p.name?.toLowerCase() || '');\nconst folderPath = parents.join('/').toLowerCase();\n\nlet contentType = 'technical-walkthrough'; // default\nif (folderPath.includes('case-study') || folderPath.includes('casestudy')) {\n  contentType = 'case-study';\n} else if (folderPath.includes('podcast')) {\n  contentType = 'podcast';\n} else if (folderPath.includes('technical') || folderPath.includes('walkthrough') || folderPath.includes('demo')) {\n  contentType = 'technical-walkthrough';\n}\n\n// Parse speaker name and company from filename\n// Convention: SpeakerName_Company_Title.txt  or just Title.txt\nconst fileName = trigger.name?.replace(/\\.(txt|md|srt)$/i, '') || 'Untitled';\nconst parts = fileName.split('_').map(p => p.trim());\n\nlet speakerName = '';\nlet company = '';\nlet title = fileName;\n\nif (parts.length >= 3) {\n  speakerName = parts[0].replace(/([a-z])([A-Z])/g, '$1 $2');\n  company = parts[1].replace(/([a-z])([A-Z])/g, '$1 $2');\n  title = parts.slice(2).join(' ');\n} else if (parts.length === 2) {\n  speakerName = parts[0].replace(/([a-z])([A-Z])/g, '$1 $2');\n  title = parts[1];\n}\n\nreturn [{\n  json: {\n    body: {\n      contentType,\n      transcript,\n      videoUrl: '',\n      speakerName,\n      company,\n      metrics: [],\n      title\n    },\n    fileId: trigger.id,\n    fileName: trigger.name,\n    detectedContentType: contentType\n  }\n}];"
      }
    },
    {
      "id": "code-prompt-dw",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1170, 220],
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst contentType = body.contentType || 'technical-walkthrough';\n\nconst FLOWS = {\n  'technical-walkthrough': '5 scenes: Hook(big-stat-reveal) -> Speaker(person-scorecard) -> HowItWorks(workflow-pipeline) -> Results(data-table/kpi-dashboard) -> Arch+CTA(node-graph+cta-comment)',\n  'case-study': '6 scenes: HookStat(big-stat-reveal) -> ClientIntro(person-scorecard) -> Challenge(comparison-split) -> Solution(timeline-steps) -> Results(kpi-dashboard) -> Trust+CTA(logo-endorsement+cta-comment)',\n  'podcast': '4-6 scenes: GuestIntro(person-scorecard) -> KeyStat(big-stat-reveal) -> TopicViz(varies) -> CTA(cta-comment)'\n};\n\nconst systemPrompt = `You are a B-roll scene generator. Output JSON: { \"meta\": { \"contentType\": \"${contentType}\", \"title\": \"<title>\", \"fps\": 30, \"width\": 1080, \"height\": 1920, \"talkingHeadUrl\": \"${body.videoUrl || ''}\" }, \"scenes\": [{ \"type\": \"<type>\", \"from\": <frame>, \"durationInFrames\": <dur>, \"data\": {...} }], \"textStrip\": { \"labels\": [{ \"from\": <frame>, \"label\": \"<text>\" }] } }\\n\\nFlow: ${FLOWS[contentType] || FLOWS['technical-walkthrough']}\\n\\nTypes: big-stat-reveal({value,prefix?,suffix?,color,subtitle}), person-scorecard({name,title,badges[{value,label}]}), kpi-dashboard({header,cards[{label,value,color}]}), workflow-pipeline({header,rows[[{label,sub?,glow?}]]}), data-table({header,table:{columns,rows}}), node-graph({header,nodes[{label,x,y,color}],edges[{from,to}]}), timeline-steps({header,steps[{label,status}]}), comparison-split({left:{header,color,icon,items},right:{header,color,icon,items}}), logo-endorsement({header,logos[{name}]}), cta-comment({action,keyword})\\n\\nframe=sec*30. Colors: #00D4FF #00FF88 #FF4444 #FF8C00 #8B5CF6. Min 180 frames. ONLY JSON output.`;\n\nconst context = [body.speakerName ? `Speaker: ${body.speakerName}` : '', body.company ? `Company: ${body.company}` : ''].filter(Boolean).join('\\n');\nconst userMessage = `${context ? context + '\\n\\n' : ''}Transcript:\\n${body.transcript}`;\n\nreturn [{ json: { ...($input.first().json), systemPrompt, userMessage, contentType, title: body.title } }];"
      }
    },
    {
      "id": "http-claude-dw",
      "name": "Claude API — Generate Scenes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 220],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $vars.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 8000, system: $json.systemPrompt, messages: [{ role: 'user', content: $json.userMessage }] }) }}"
      }
    },
    {
      "id": "code-parse-dw",
      "name": "Parse Scene JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1630, 220],
      "parameters": {
        "jsCode": "const prev = $('Build Claude Prompt').first().json;\nconst response = $input.first().json;\nconst content = response.content?.[0]?.text || '';\n\nlet config;\ntry {\n  config = JSON.parse(content);\n} catch (e) {\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  if (match) config = JSON.parse(match[0]);\n  else throw new Error('Failed to parse scene JSON');\n}\n\nconst totalFrames = config.scenes.reduce((max, s) => Math.max(max, s.from + s.durationInFrames), 0);\nif (!config.meta || !config.scenes?.length) throw new Error('Invalid config');\n\nreturn [{ json: {\n  config,\n  totalFrames,\n  totalSeconds: (totalFrames / 30).toFixed(1),\n  sceneCount: config.scenes.length,\n  sceneTypes: config.scenes.map(s => s.type),\n  title: prev.title,\n  contentType: prev.contentType,\n  sourceFileId: prev.fileId,\n  sourceFileName: prev.fileName,\n  generatedAt: new Date().toISOString()\n} }];"
      }
    },
    {
      "id": "google-drive-save-dw",
      "name": "Save Config JSON to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1870, 140],
      "parameters": {
        "operation": "upload",
        "name": "={{ 'broll_' + $json.contentType + '_' + $json.title.replace(/[^a-zA-Z0-9]/g, '_') + '_' + Date.now() + '.json' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "myDrive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "inputDataFieldName": "={{ JSON.stringify($json.config, null, 2) }}",
        "options": {
          "mimeType": "application/json"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "clickup-dw",
      "name": "Create ClickUp Review Task",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [1870, 340],
      "parameters": {
        "resource": "task",
        "operation": "create",
        "list": "={{ $vars.CLICKUP_LIST_ID }}",
        "name": "=Review B-Roll: {{ $json.title }} ({{ $json.contentType }})",
        "additionalFields": {
          "content": "=## B-Roll Auto-Generated from Drive\\n\\n**Source:** {{ $json.sourceFileName }}\\n**Type:** {{ $json.contentType }}\\n**Duration:** {{ $json.totalSeconds }}s\\n**Scenes:** {{ $json.sceneCount }} ({{ $json.sceneTypes.join(', ') }})\\n\\n### Next Steps\\n1. Open scene config JSON from Google Drive\\n2. Load into Remotion Studio (`DynamicShort` composition)\\n3. Add talking head video URL to `meta.talkingHeadUrl`\\n4. Preview and adjust timing\\n5. Render final MP4\\n\\n**Generated:** {{ $json.generatedAt }}",
          "priority": 3,
          "status": "to review"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Watch B-Roll Transcripts Folder": {
      "main": [[{ "node": "Filter Text Files Only", "type": "main", "index": 0 }]]
    },
    "Filter Text Files Only": {
      "main": [
        [{ "node": "Download Transcript", "type": "main", "index": 0 }],
        []
      ]
    },
    "Download Transcript": {
      "main": [[{ "node": "Extract Metadata from File", "type": "main", "index": 0 }]]
    },
    "Extract Metadata from File": {
      "main": [[{ "node": "Build Claude Prompt", "type": "main", "index": 0 }]]
    },
    "Build Claude Prompt": {
      "main": [[{ "node": "Claude API — Generate Scenes", "type": "main", "index": 0 }]]
    },
    "Claude API — Generate Scenes": {
      "main": [[{ "node": "Parse Scene JSON", "type": "main", "index": 0 }]]
    },
    "Parse Scene JSON": {
      "main": [
        [
          { "node": "Save Config JSON to Drive", "type": "main", "index": 0 },
          { "node": "Create ClickUp Review Task", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
