n8n-workflows/form-intake-v2.json
{
  "name": "B-Roll Form Intake — User-Friendly Input",
  "nodes": [
    {
      "id": "form-1",
      "name": "B-Roll Request Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [250, 300],
      "parameters": {
        "formTitle": "B-Roll Scene Generator",
        "formDescription": "Generate animated B-roll graphics from a transcript. Fill in the details below and submit.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Content Type",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  { "option": "technical-walkthrough" },
                  { "option": "case-study" },
                  { "option": "podcast" }
                ]
              }
            },
            {
              "fieldLabel": "Transcript",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Paste your full transcript with timestamps here..."
            },
            {
              "fieldLabel": "Video URL",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Google Drive share link to talking head video"
            },
            {
              "fieldLabel": "Speaker Name",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "e.g., Zain Bukhari"
            },
            {
              "fieldLabel": "Company",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "e.g., TrueHorizon AI"
            },
            {
              "fieldLabel": "Key Metrics (comma-separated)",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "e.g., 2.7M records, $722K saved, 99.8% accuracy"
            }
          ]
        },
        "options": {
          "formSubmittedText": "Your B-roll config is being generated by Claude. Check your Google Drive and ClickUp for results.",
          "respondWithData": false
        }
      }
    },
    {
      "id": "code-map-1",
      "name": "Map Form to Pipeline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "jsCode": "const form = $input.first().json;\n\nconst metrics = form['Key Metrics (comma-separated)']\n  ? form['Key Metrics (comma-separated)'].split(',').map(m => m.trim())\n  : [];\n\nreturn [{\n  json: {\n    body: {\n      contentType: form['Content Type'] || 'technical-walkthrough',\n      transcript: form['Transcript'],\n      videoUrl: form['Video URL'] || '',\n      speakerName: form['Speaker Name'] || '',\n      company: form['Company'] || '',\n      metrics,\n      title: (form['Speaker Name'] || 'Untitled') + ' — ' + (form['Content Type'] || 'B-Roll')\n    }\n  }\n}];"
      }
    },
    {
      "id": "code-prompt-2",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst contentType = body.contentType || 'technical-walkthrough';\n\nconst FLOWS = {\n  'technical-walkthrough': '5 scenes: Hook(big-stat-reveal) -> Speaker(person-scorecard) -> HowItWorks(workflow-pipeline) -> Results(data-table/kpi-dashboard) -> Arch+CTA(node-graph+cta-comment)',\n  'case-study': '6 scenes: HookStat(big-stat-reveal) -> ClientIntro(person-scorecard) -> Challenge(comparison-split) -> Solution(timeline-steps) -> Results(kpi-dashboard) -> Trust+CTA(logo-endorsement+cta-comment)',\n  'podcast': '4-6 scenes: GuestIntro(person-scorecard) -> KeyStat(big-stat-reveal) -> TopicViz(varies) -> CTA(cta-comment)'\n};\n\nconst systemPrompt = `You are a B-roll scene generator. Output JSON: { \"meta\": { \"contentType\": \"${contentType}\", \"title\": \"<title>\", \"fps\": 30, \"width\": 1080, \"height\": 1920, \"talkingHeadUrl\": \"${body.videoUrl || ''}\" }, \"scenes\": [{ \"type\": \"<type>\", \"from\": <frame>, \"durationInFrames\": <dur>, \"data\": {...} }], \"textStrip\": { \"labels\": [{ \"from\": <frame>, \"label\": \"<text>\" }] } }\\n\\nFlow: ${FLOWS[contentType] || FLOWS['technical-walkthrough']}\\n\\nTypes: big-stat-reveal({value,prefix?,suffix?,color,subtitle}), person-scorecard({name,title,badges[{value,label}]}), kpi-dashboard({header,cards[{label,value,color}]}), workflow-pipeline({header,rows[[{label,sub?,glow?}]]}), data-table({header,table:{columns,rows}}), node-graph({header,nodes[{label,x,y,color}],edges[{from,to}]}), timeline-steps({header,steps[{label,status}]}), comparison-split({left:{header,color,icon,items},right:{header,color,icon,items}}), logo-endorsement({header,logos[{name}]}), cta-comment({action,keyword})\\n\\nframe=sec*30. Colors: #00D4FF #00FF88 #FF4444 #FF8C00 #8B5CF6. Min 180 frames. ONLY JSON output.`;\n\nconst context = [body.speakerName ? `Speaker: ${body.speakerName}` : '', body.company ? `Company: ${body.company}` : '', body.metrics?.length ? `Metrics: ${body.metrics.join(', ')}` : ''].filter(Boolean).join('\\n');\nconst userMessage = `${context ? context + '\\n\\n' : ''}Transcript:\\n${body.transcript}`;\n\nreturn [{ json: { systemPrompt, userMessage, contentType, videoUrl: body.videoUrl || '', title: body.title || 'Untitled' } }];"
      }
    },
    {
      "id": "http-claude-2",
      "name": "Claude API — Generate Scenes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $vars.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 8000, system: $json.systemPrompt, messages: [{ role: 'user', content: $json.userMessage }] }) }}"
      }
    },
    {
      "id": "code-parse-2",
      "name": "Parse Scene JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "parameters": {
        "jsCode": "const prev = $('Build Claude Prompt').first().json;\nconst response = $input.first().json;\nconst content = response.content?.[0]?.text || '';\n\nlet config;\ntry {\n  config = JSON.parse(content);\n} catch (e) {\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  if (match) config = JSON.parse(match[0]);\n  else throw new Error('Failed to parse scene JSON');\n}\n\nconst totalFrames = config.scenes.reduce((max, s) => Math.max(max, s.from + s.durationInFrames), 0);\nif (!config.meta || !config.scenes?.length) throw new Error('Invalid config');\n\nreturn [{ json: {\n  config,\n  totalFrames,\n  totalSeconds: (totalFrames / 30).toFixed(1),\n  sceneCount: config.scenes.length,\n  sceneTypes: config.scenes.map(s => s.type),\n  title: prev.title,\n  contentType: prev.contentType,\n  generatedAt: new Date().toISOString()\n} }];"
      }
    },
    {
      "id": "google-drive-form",
      "name": "Save JSON to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1500, 200],
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.contentType + '_' + $json.title.replace(/[^a-zA-Z0-9]/g, '_') + '_' + Date.now() + '.json' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "myDrive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root"
        },
        "inputDataFieldName": "={{ JSON.stringify($json.config, null, 2) }}",
        "options": {
          "mimeType": "application/json"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "clickup-form",
      "name": "Create ClickUp Review Task",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [1500, 420],
      "parameters": {
        "resource": "task",
        "operation": "create",
        "list": "={{ $vars.CLICKUP_LIST_ID }}",
        "name": "=Review B-Roll: {{ $json.title }} ({{ $json.contentType }})",
        "additionalFields": {
          "content": "=## B-Roll Config Generated\\n\\n**Type:** {{ $json.contentType }}\\n**Duration:** {{ $json.totalSeconds }}s\\n**Scenes:** {{ $json.sceneCount }} ({{ $json.sceneTypes.join(', ') }})\\n\\n### Next Steps\\n1. Open Remotion Studio\\n2. Load JSON from Google Drive into DynamicShort composition\\n3. Preview and adjust timing\\n4. Render final MP4\\n\\n**Generated:** {{ $json.generatedAt }}",
          "priority": 3,
          "status": "to review"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "B-Roll Request Form": {
      "main": [[{ "node": "Map Form to Pipeline", "type": "main", "index": 0 }]]
    },
    "Map Form to Pipeline": {
      "main": [[{ "node": "Build Claude Prompt", "type": "main", "index": 0 }]]
    },
    "Build Claude Prompt": {
      "main": [[{ "node": "Claude API — Generate Scenes", "type": "main", "index": 0 }]]
    },
    "Claude API — Generate Scenes": {
      "main": [[{ "node": "Parse Scene JSON", "type": "main", "index": 0 }]]
    },
    "Parse Scene JSON": {
      "main": [
        [
          { "node": "Save JSON to Google Drive", "type": "main", "index": 0 },
          { "node": "Create ClickUp Review Task", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
