n8n-workflows/full-pipeline.json
{
  "name": "B-Roll Full Pipeline — Generate + Save + ClickUp Task",
  "nodes": [
    {
      "id": "webhook-full-1",
      "name": "B-Roll Pipeline Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "broll-pipeline",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "broll-pipeline"
    },
    {
      "id": "code-prompt-full",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst contentType = body.contentType || 'technical-walkthrough';\n\nconst FLOWS = {\n  'technical-walkthrough': '5 scenes: Hook(big-stat-reveal) -> Speaker(person-scorecard) -> HowItWorks(workflow-pipeline) -> Results(data-table/kpi-dashboard) -> Arch+CTA(node-graph+cta-comment)',\n  'case-study': '6 scenes: HookStat(big-stat-reveal) -> ClientIntro(person-scorecard) -> Challenge(comparison-split) -> Solution(timeline-steps) -> Results(kpi-dashboard) -> Trust+CTA(logo-endorsement+cta-comment)',\n  'podcast': '4-6 scenes: GuestIntro(person-scorecard) -> KeyStat(big-stat-reveal) -> TopicViz(varies) -> CTA(cta-comment)'\n};\n\nconst systemPrompt = `You are a B-roll scene generator. Output JSON: { \"meta\": { \"contentType\": \"${contentType}\", \"title\": \"<title>\", \"fps\": 30, \"width\": 1080, \"height\": 1920, \"talkingHeadUrl\": \"${body.videoUrl || ''}\" }, \"scenes\": [{ \"type\": \"<type>\", \"from\": <frame>, \"durationInFrames\": <dur>, \"data\": {...} }], \"textStrip\": { \"labels\": [{ \"from\": <frame>, \"label\": \"<text>\" }] } }\\n\\nFlow: ${FLOWS[contentType] || FLOWS['technical-walkthrough']}\\n\\nTypes: big-stat-reveal({value,prefix?,suffix?,color,subtitle}), person-scorecard({name,title,badges[{value,label}]}), kpi-dashboard({header,cards[{label,value,color}]}), workflow-pipeline({header,rows[[{label,sub?,glow?}]]}), data-table({header,table:{columns,rows}}), node-graph({header,nodes[{label,x,y,color}],edges[{from,to}]}), timeline-steps({header,steps[{label,status}]}), comparison-split({left:{header,color,icon,items},right:{header,color,icon,items}}), logo-endorsement({header,logos[{name}]}), cta-comment({action,keyword})\\n\\nframe=sec*30. Colors: #00D4FF #00FF88 #FF4444 #FF8C00 #8B5CF6. Min 180 frames. ONLY JSON output.`;\n\nconst context = [body.speakerName ? `Speaker: ${body.speakerName}` : '', body.company ? `Company: ${body.company}` : '', body.metrics?.length ? `Metrics: ${JSON.stringify(body.metrics)}` : ''].filter(Boolean).join('\\n');\nconst userMessage = `${context ? context + '\\n\\n' : ''}Transcript:\\n${body.transcript}`;\n\nreturn [{ json: { systemPrompt, userMessage, contentType, videoUrl: body.videoUrl || '', title: body.title || 'Untitled B-Roll', speakerName: body.speakerName || '', company: body.company || '' } }];"
      }
    },
    {
      "id": "http-claude-full",
      "name": "Claude API — Generate Scenes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $vars.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 8000, system: $json.systemPrompt, messages: [{ role: 'user', content: $json.userMessage }] }) }}"
      }
    },
    {
      "id": "code-parse-full",
      "name": "Parse Scene JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 300],
      "parameters": {
        "jsCode": "const prev = $('Build Claude Prompt').first().json;\nconst response = $input.first().json;\nconst content = response.content?.[0]?.text || '';\n\nlet config;\ntry {\n  config = JSON.parse(content);\n} catch (e) {\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  if (match) config = JSON.parse(match[0]);\n  else throw new Error('Failed to parse scene JSON');\n}\n\nconst totalFrames = config.scenes.reduce((max, s) => Math.max(max, s.from + s.durationInFrames), 0);\n\nreturn [{ json: {\n  config,\n  totalFrames,\n  totalSeconds: (totalFrames / 30).toFixed(1),\n  sceneCount: config.scenes.length,\n  sceneTypes: config.scenes.map(s => s.type),\n  title: prev.title,\n  contentType: prev.contentType,\n  speakerName: prev.speakerName,\n  company: prev.company,\n  generatedAt: new Date().toISOString()\n} }];"
      }
    },
    {
      "id": "google-drive-1",
      "name": "Save JSON to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1300, 180],
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.contentType + '_' + $json.title.replace(/[^a-zA-Z0-9]/g, '_') + '_' + Date.now() + '.json' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "myDrive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root"
        },
        "inputDataFieldName": "={{ JSON.stringify($json.config, null, 2) }}",
        "options": {
          "mimeType": "application/json"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "clickup-1",
      "name": "Create ClickUp Review Task",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [1300, 420],
      "parameters": {
        "resource": "task",
        "operation": "create",
        "list": "={{ $vars.CLICKUP_LIST_ID }}",
        "name": "=Review B-Roll: {{ $json.title }} ({{ $json.contentType }})",
        "additionalFields": {
          "content": "=## B-Roll Scene Config Generated\\n\\n**Content Type:** {{ $json.contentType }}\\n**Speaker:** {{ $json.speakerName }}\\n**Company:** {{ $json.company }}\\n**Duration:** {{ $json.totalSeconds }}s\\n**Scenes:** {{ $json.sceneCount }} ({{ $json.sceneTypes.join(', ') }})\\n\\n### Next Steps\\n1. Review the scene JSON config\\n2. Load into Remotion Studio (`DynamicShort` composition)\\n3. Preview and adjust timing\\n4. Render final MP4\\n\\n**Generated:** {{ $json.generatedAt }}",
          "priority": 3,
          "status": "to review"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "render-trigger-1",
      "name": "Trigger Render (when API ready)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 180],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.RENDER_API_URL || 'http://localhost:3100' }}/render",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.RENDER_API_KEY || 'not-configured' }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ compositionId: 'DynamicShort', inputProps: { config: $('Parse Scene JSON').first().json.config }, outputFormat: 'mp4' }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "disabled": true,
      "continueOnFail": true
    },
    {
      "id": "merge-1",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1560, 420],
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      }
    },
    {
      "id": "code-response-full",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 300],
      "parameters": {
        "jsCode": "const parsed = $('Parse Scene JSON').first().json;\n\nconst driveResult = $('Save JSON to Google Drive').first()?.json;\nconst clickupResult = $('Create ClickUp Review Task').first()?.json;\n\nreturn [{ json: {\n  success: true,\n  config: parsed.config,\n  totalFrames: parsed.totalFrames,\n  totalSeconds: parsed.totalSeconds,\n  sceneCount: parsed.sceneCount,\n  sceneTypes: parsed.sceneTypes,\n  delivery: {\n    googleDrive: driveResult?.id ? { fileId: driveResult.id, name: driveResult.name } : null,\n    clickUp: clickupResult?.id ? { taskId: clickupResult.id, url: clickupResult.url } : null\n  }\n} }];"
      }
    },
    {
      "id": "respond-full-1",
      "name": "Return Pipeline Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2060, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "B-Roll Pipeline Webhook": {
      "main": [[{ "node": "Build Claude Prompt", "type": "main", "index": 0 }]]
    },
    "Build Claude Prompt": {
      "main": [[{ "node": "Claude API — Generate Scenes", "type": "main", "index": 0 }]]
    },
    "Claude API — Generate Scenes": {
      "main": [[{ "node": "Parse Scene JSON", "type": "main", "index": 0 }]]
    },
    "Parse Scene JSON": {
      "main": [
        [
          { "node": "Save JSON to Google Drive", "type": "main", "index": 0 },
          { "node": "Create ClickUp Review Task", "type": "main", "index": 0 },
          { "node": "Trigger Render (when API ready)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Save JSON to Google Drive": {
      "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]]
    },
    "Create ClickUp Review Task": {
      "main": [[{ "node": "Merge Results", "type": "main", "index": 1 }]]
    },
    "Merge Results": {
      "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]]
    },
    "Build Response": {
      "main": [[{ "node": "Return Pipeline Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
